<h1><%= @user.username %>'s Profile</h1>

<div>
  <p><strong>Username:</strong> <%= @user.username %></p>
  <p><strong>First name:</strong> <%= @user.first_name %></p>
  <p><strong>Last name:</strong> <%= @user.last_name %></p>
  <p><strong>Bio:</strong> <%= @user.bio %></p>
  <p><strong>Profile image:</strong></p>
  <%= image_tag @user.profile_image.variant(resize: "200x200") %>
</div>

<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_registration_path %>
<% end %>
